*{
    text-align: center;
    margin:0px;
    padding:0px; 
}
body{
    background-image: radial-gradient(rgb(252, 255, 47),rgb(243, 144, 32));
    background-color: rgb(12, 166, 226);
    background-size:contain;
  background-repeat: no-repeat;

 }
#canvas{
    position: absolute;
    top:20%;
    background-color: black;
    height:35%;
    width:35%;
    border:2px solid red;
    top:35%;
    left:50%;
    transform: translate(-50%,-50%);
 }
 #hint{
    height: 30%;
    width: 30%;
    border:5px black solid;
    position: absolute;
    top:35%;
    left:2%;
    transform: translate(0,-50%);  
 }
 #hint #hint_button{
     height:20%;
     width:30%;
     font-size: 150%;
 }
 #lives{
    height: 30%;
    width: 30%;
    border:5px black solid;
    position: absolute;
    top:35%;
    right:2%;
    transform: translate(0,-50%);  
    text-align: center;
 }
 #lives #lives_left{
    height:50%;
    width:100%;
    font-size:400%;
     
 }
 #result{
    height: 10%;
    width: 50%;
    border:5px black solid;
    position: absolute;
    top:60%;
    left:50%;
    transform: translate(-50%,-50%); 
    border-bottom:none; 
 }
 #workspace{
    height: 10%;
    width: 75%;
    border:5px black solid;
    position: absolute;
    top:70%;
    left:50%;
    transform: translate(-50%,-50%);  
    font-size: 200%;
 }
 #work{
     font-size: 85%;
     font-family: 'Candal', sans-serif;
     transform: scale(1.1, 1.4);
     
  }
 #buttons{
    height: 20%;
    width: 95%;
    border:2px black dotted;
    position: absolute;
    top:86%;
    left:50%;
    transform: translate(-50%,-50%);  
 }
 .button{
     position: relative;
    height: 50%;
    width: 7%;
    font-size: 260%; 
 }
 #play_again{
    position:relative;
    bottom:10%;
  
    border:2px red solid;
    width: 20%;
    height: 20%;
    bottom:10%;
 }